@charset "utf-8";
/* CSS Document */

body {
    background-color: #62E0CF; 
    background-image: url('images/2colback.jpg'); /* Set the background image */
    background-repeat: repeat-y; 
	}
	#thumbs, #image {
		width: 900px;
		text-align: center;
		margin: 0 auto 0 auto;
		color: #000;
	}

	#thumbs {
		margin-top: 10px;
	}

			
	#thumbs img {
		border: solid 5px #FF8100;
		margin: 5px;
	}

	#image{
		height:500px;
	}

	.instructions{
		font-style:italic;
	}
	.center{
	text-align: center;
	}
body {
            font-family: 'msyhl', sans-serif;
            background-color: #00AD95; /* aqua/blue/green background / nature and animals = natural world */
            color: #28334A; /* blue grey text */
            font-size: 100%; /* normal text font size */
        }
        h1 {
            font-family: 'msyhl', sans-serif;
            color: #FF8100; /* deep blue grey headings */
            border: 5px solid #096881;
        }
        h2 {
            font-family: 'msyhl', sans-serif;
            color: #49E100; /* deep blue grey headings */
        }
        a {
            color: #FF0000; /* link color */
        }
        a:visited {
            color: #C31B00; /* visited link color */
        }
        a:hover {
            color: #420E0E; /* hover link color */
        }
        img {
            margin: 10px; /* add margin around images */
            width: 200px; /* set a fixed width for images */
            height: auto; /* maintain aspect ratio */
            border: 10px solid #6BAEE1; /* border color */
            border-collapse: separate;
            border-spacing: 10px;
            padding: 8px; /* space between image and border */
            border-radius: 10px; /* size of border */
        }
        .thumbnailleft{
	        float: left;
	        padding-right: 10px;
        }
        .thumbnailright{
	        float: right;
	        padding-left: 10px;
        }

/* Table styles */
        table {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse; 
        }
        caption { /* table title */
            font-family: 'msyhl', sans-serif;
            color: #FF8100;
            font-weight: bold;
            background-color: #096881;
            border-radius: 10px;
            border: 2px solid #096881;
            height: 40px;
            text-align: center;
            font-size: 40px;
            margin-bottom: 20px;
        }
        th { /* table heading */
            background-color: #096881;
            color: white; /* White text */
            padding: 10px;
            font-size: 20px;
        }
        td { /* table data rows */
            color: #28334A;
            background-color: #92ebdf; 
            font-size: 20px;
            padding: 10px;
            text-align: left;
        }
        tr:nth-child(even) td {
            background-color: #62E0CF; /* alternating background colors for rows */
        }
        td:nth-child(2), td:nth-child(3) {
            text-align: center; /* Right align for the second and third columns */



